.contenedor{
    width: auto;
    height: auto;
}
.centrar{
    display: grid;
    place-items: center;
}
.card{
    background: none;
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    width: 550px;
    padding: 10px;
}
h3{
    color:black;
    text-shadow: 3px 3px white;
}